<h2>Create a New Heroine</h2>

<%= form_for(@heroine) do |f| %>
  <% if @heroine.errors.any? %>
    <ul>
      <% @heroine.errors.full_messages.each do |msg| %>
        <font color="red"><li><%= msg %></li></font>
      <% end %>
    </ul>
    <% end %>
  <%= f.label :name, "Heroine's Name: " %>
  <%= f.text_field :name %>
  <br>
  <p></p>
  <%= f.label :super_name, "Heroine's Supername: " %>
  <%= f.text_field :super_name %>
  <br>
  <p></p>
  <%= f.label :power_id, "Choose a Super Power: " %>
  <%= f.collection_select :power_id, Power.all, :id, :name %>
  <br>
  <p></p>
  <%= f.submit %>
<% end %>
